<section>
    <h1>City {{ city }}</h1>
    <app-user />
    <h2>Angular lorem</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut obcaecati dolorum aperiam, hic harum modi magni minus, nihil dolores placeat sequi voluptas reprehenderit facilis error tempore? Officiis accusamus unde similique. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut obcaecati dolorum aperiam, hic harum modi magni minus, nihil dolores placeat sequi voluptas reprehenderit facilis error tempore? Officiis accusamus unde similique.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut obcaecati dolorum aperiam, hic harum modi magni minus, nihil dolores placeat sequi voluptas reprehenderit facilis error tempore? Officiis accusamus unde similique.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut obcaecati dolorum aperiam, hic harum modi magni minus, nihil dolores placeat sequi voluptas reprehenderit facilis error tempore? Officiis accusamus unde similique.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut obcaecati dolorum aperiam, hic harum modi magni minus, nihil dolores placeat sequi voluptas reprehenderit facilis error tempore? Officiis accusamus unde similique.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut obcaecati dolorum aperiam, hic harum modi magni minus, nihil dolores placeat sequi voluptas reprehenderit facilis error tempore? Officiis accusamus unde similique.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut obcaecati dolorum aperiam, hic harum modi magni minus, nihil dolores placeat sequi voluptas reprehenderit facilis error tempore? Officiis accusamus unde similique.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut obcaecati dolorum aperiam, hic harum modi magni minus, nihil dolores placeat sequi voluptas reprehenderit facilis error tempore? Officiis accusamus unde similique.</p>
</section>

<section>
    @defer(on viewport) {
        <app-comments />
    } @placeholder {
        <p>Futuros comentarios</p>
    } @loading {
        <p>cargando comentarios</p>
    }
</section>

<!-- <router-outlet /> -->
